*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: sans-serif;
     color: white;
}
.container{
     width: 100vw;
     height: 100vh;
     background-image:url(resources/pics/pexels-pixabay-33109.jpg);
     background-size: cover;
     background-position: center;
}

.menu {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     width: 99vw;
     height: 50px;
     bottom: 10px;
     border-radius: 20px;
     border: gray 2px solid;
     background-color: rgb(28, 29, 29);
     user-select: none;

     display: flex;
     justify-content: space-between;
     font-weight: bold;
}

.left, .center, .right{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
}

.left{
     gap: 10px;
}
.left svg{
     background-color: black;
     border-radius: 50%;
}

.center{
     gap: 30px;
}

svg{
     fill: white;
}

.menu svg:hover, .control-btns svg:hover, .musicSelect-btns svg:hover{
     fill:rgb(168, 164, 164);
}

.musicControls{
     z-index: 100;
     position: absolute;
     background-color:  rgb(28, 29, 29);
     min-width: 300px; 
     min-height: 300px;
     user-select: none;
     border: gray 2px solid;
     border-radius: 20px;
     resize: both;
     overflow: auto;
     opacity: 0;
     left: 10px;
     transition: opacity 0.5s ease;
     max-width: 99vw;
     max-height:90vh;
}
.musicControls::-webkit-scrollbar{
     width: 10px;
}
.musicControls::-webkit-scrollbar-track{
     background-color: rgb(28, 29, 29);
     border-radius: 10px;
     margin-block: 10px;
}
.musicControls::-webkit-scrollbar-corner{
     width: 10px;
     height: 10px;
}
.musicControls::-webkit-scrollbar-thumb{
     background-color: darkslategray;
     border-radius: 20px;
}

.musicVolume{
     margin: 10px;
     padding: 5px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: darkslategray;
     border-radius: 10px;
}
.musicVolume-slider{
     padding: 10px;
     display: flex;
     align-items: center;
     gap: 5px;
}

.control-btns{
     margin: 10px;
     padding: 5px;
     display: flex;
     gap: 10px;
     justify-content: center;
     align-items: center;
     background-color: darkslategray;
     border-radius: 10px;
}

.musicSelect-btns{
     margin: 10px;
     padding: 5px;
     display: flex;
     gap: 10px;
     justify-content: space-evenly;
     align-items: center;
     background-color: darkslategray;
     border-radius: 10px;
}

.sleepy svg, .jazz svg, .chill svg{
     height: 40px;
     width: 40px;
     padding: 7px;
     border-radius: 50%;
     background-color: gray;
}
.sleepy, .jazz, .chill{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 13px;
}
.mlabel{
     font-size: 0.8rem;
}

.backgroundSelect{
     position: absolute;
     opacity: 0;
     display: flex;
     transition: opacity 0.5s ease; 
     background-color:rgb(28, 29, 29);
     justify-content: space-evenly;
     align-items: center;
     left: 50%;
     transform: translateX(-50%);
     width: 99vw;
     bottom: 70px;
     height: 100px;
     border-radius: 20px;
     border: gray 2px solid;
}

.backgroundSelect img{
     width: 100px;
     height: 70px;
     border-radius: 10px;
}

.ambientSounds{
     margin: 10px;
     padding: 5px;
     display: flex;
     flex-direction: column;
     gap: 10px;
     align-items: center;
     background-color: darkslategray;
     border-radius: 10px;
}
.softRain, .flowingRiver, .birds, .whiteNoise, .firePlace, .traffic, .underwater, .keyboard{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     background-color: rgb(28, 29, 29);
     padding: 10px;
     border-radius: 10px;
     text-align: center;
}

input{
     -webkit-appearance: none;
     height: 3px;
     background-color: lightblue;
     border-radius: 5px;
     outline: none;
     border: none;
}
input::-webkit-slider-thumb{
     -webkit-appearance: none;
     height: 15px;
     width: 15px;
     background-color: blue;
     border-radius: 50%;
     border: 1px solid blue;
     cursor: pointer;
}
 
.ambientSounds p{
     width: 120px;
}

.menuBtnClicked{
     border-bottom: 2px gray solid;
}
.visible {
     opacity: 1;
 }